@import 'colors';

::ng-deep .station-details-modal .ant-modal-content {
    background-image: linear-gradient(to bottom, $lightSeaGreen 10%, #fff 90%);


    border-radius: 20px;
}

.custom-header {
    display: flex;
    justify-content: center;

    .item {
        margin-bottom: -3px;
        box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
        border-radius: 15px;
        background-color: #fff;
        padding: 0 1rem;
        color: #333;
        margin: auto;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        display: inline-block;


        .station-name {
            text-align: center;
            margin: .5rem 0;
        }

    }

}


.content {
    position: relative;
    z-index: 5;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    background-color: #fff;
    padding: 3rem ;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem;

    .index{
        background-color: #D1D1D1;
     
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }
}


.variables{
    display: flex;
    gap: 20px;
}

.variable{
    color: #fff;
    border-radius: 5px;
    width: 130px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: ltr;
}


.divider {
    background-color: $SeaGreen;
    height: 1px;
    width: 100%;
    margin: 2rem 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    .close-btn {
        border-radius: 0px;
        color: $SeaGreen;
        border: 1px solid $SeaGreen;

        padding: 10px 30px;
        border-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}