@import 'colors';

::ng-deep .station-details-modal .ant-modal-content {
    border-radius: 20px;
}

p{
    margin-bottom: 0;
}

.station-name {
    text-align: center;
    margin: 0;
    margin-bottom: .5rem;
    font-weight: bold;
}

.custom-header {
    display: flex;
    justify-content: center;

    .item {
        margin-bottom: -3px;
        box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
        border-radius: 15px;
        background-color: #fff;
        padding: 0 1rem;
        color: #333;
        margin: auto;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        display: inline-block;



    }

}


.variable {
    border-radius: 5px;
    height: 30px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 70px;
    max-width: 90px;
    &.active {

        height: 45px;
        box-shadow: 0 3px 0px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
        border: 1px solid #333 !important;
    }
}


.content-wrapper {
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    background-color: #fff;
    padding: .5rem 1rem;
    margin: 0 2rem;

    .brief {
        color: #333;
        font-weight: 600;
        font-size: 1.2rem;
    }
}

.content {
    position: relative;
    z-index: 5;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;

    .img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 4rem;

        .aqi {
            display: inline-block;
            margin-top: 5px;
            font-size: 1.2rem;
            font-weight: 500;
        }
    }




    .variables {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem 2rem;
        gap: 1rem;


        .variable:nth-child(2){
            margin-left: 50px;
        }

    }

    // .index{
    //     background-color: #D1D1D1;

    //     width: 100px;
    //     height: 100px;
    //     border-radius: 50%;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     font-weight: bold;
    // }
}



.aqi-instructions {
    justify-content: center;
    gap: 2rem;
    margin: 1rem 2rem;
    align-items: flex-start;

    .instruct-img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 55px;
        border-radius: 10px;
    }

    .instruct-item {
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .instruction-title {
            max-width: 260px;
            text-align: center;
            font-size: .75rem;
            color: #333;
            line-height: 17px;
            font-weight: 500;
        }
    }
}



// .divider {
//     background-color: $SeaGreen;
//     height: 1px;
//     width: 100%;
//     margin: 2rem 0;
// }

.aqi-summary {
    margin: 0 3rem;
    background-color: #F3FFFE;
    border-radius: 12x;
    padding: 1rem 2rem;

    .aqi-title {
        color: #333;
    }

    p {
        font-size: .8rem;
    }
}

.history {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

// .footer {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-top: 10px;

//     .close-btn {
//         border-radius: 0px;
//         color: $SeaGreen;
//         border: 1px solid $SeaGreen;

//         padding: 10px 30px;
//         border-radius: 8px;

//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }
// }


.content-body{
    display: flex;
    justify-content: center;
}

.close-btn {
    color: $SeaGreen;
    border: 1px solid $SeaGreen;
    position: absolute;
    padding: 10px 30px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ltr-body{
    
    .variables {

        .variable:nth-child(2){
            margin-right: 50px;
            margin-left: 0px !important;
        }

    }
}


@media(max-width: 992px){    
    .station-name {
        margin: .5rem 0;
    }
    
    .custom-header {
        .item {
            padding: 0 .5rem;
        }
    }
    
    
    .variable {
        height: 25px;
        font-size: .7rem;
        min-width: 40px;
        max-width: 80px;
        &.active {
            height: 45px;
        }
    }
    
    
    .content-wrapper {
        padding: .4rem;
        margin: .5rem 1rem;
    
        .brief {
            font-size: 1rem;
        }
    }
    
    .content {
        gap: 20px;
    
        .img {
            padding: 1.5rem 3rem;
    
            .aqi {
                margin-top: 4px;
                font-size: 1.1rem;
            }
        }
    
    
    
    
        .variables {
            padding: .5rem;
            gap: .9rem;
    
    
            .variable:nth-child(2){
                margin-left: 30px;
            }
    
        }
    
  
    }
    
    
    
    .aqi-instructions {
        gap: 1.5rem;
        margin: 1.5rem;
    
        .instruct-img-wrapper {
            width: 60px;
            height: 50px;
        }
    
        .instruct-item {
            gap: .9rem;
    
            .instruction-title {
                max-width: 220px;
                font-size: .9rem;
            }
        }
    }
    
        
    .aqi-summary {
        margin: 0 2rem;
        padding: 1rem 1.5rem;
    
    }
    
    .history {
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: 15px;
    }
    
    .close-btn {
        color: $SeaGreen;
        border: 1px solid $SeaGreen;
    
        padding: 7px 20px;
    }
    
    .ltr-body{
        
        .variables {
    
            .variable:nth-child(2){
                margin-right: 30px;
                margin-left: 0px !important;
            }
    
        }
    }
    
       
}