<div [dir]="lang === 'ar' ? 'rtl' : 'ltr'" *ngIf="lang$ | async as lang">
  <button nz-button class="close-btn" (click)="destroyModal()">
    <span nz-icon nzType="close" nzTheme="outline"></span>
  </button>

  <h1 class="station-name text-center">
    {{station.name_en}}
  </h1>

  <div class="content-wrapper">

    <div class="content">
      <!-- <div [style.background]="lightColors [station.aqi[0].sequence || 0]" class="img">
      <img [src]="'assets/icons/details/' + station.aqi[0].sequence + '.svg'" alt="">

      <span [style.color]="station.aqi[0].color" class="aqi">AQI</span>
    </div> -->

      <button (click)="changeActiveItem(null)"
        [style.background]="station.variables[0]?.readings[0]?.color || '#d1d1d1'" [style.border-color]="'transparent'"
        [class.active]="!activeCode" class="variable aqi pointer">
        <span [style.color]=" station.variables[0].readings[0].sequence == 2 ? 'black' : 'white'" class="variable-name">
          AQI

        </span>

        <span class="variable-value">

          <!-- {{variable.readings[0].average}} {{variable.unit.code}} -->
        </span>
      </button>


      <div class="variables-wrapper">


        <div class="variables">


          <button (click)="changeActiveItem(variable.variable.code)" *ngFor="let variable of station.variables"
            [class.active]="variable.variable.code === activeCode" [style.border-color]="'transparent'"
            [style.background]="variable?.readings[0]?.color || '#d1d1d1'" class="variable pointer">
            <span [style.color]=" variable.readings[0].sequence == 2 ? 'black' : 'white'" class="variable-name">

              {{variable.variable.abbreviation_en }}
            </span>

            <span class="variable-value">

              <!-- {{variable.readings[0].average}} {{variable.unit.code}} -->
            </span>
          </button>
        </div>
      </div>


    </div>

    <div class="brief text-center">
      {{content?.description}}
    </div>
  </div>

  <div class="aqi-instructions d-flex">

    <div *ngFor="let item of content?.instructions" class="instruct-item d-flex flex-direction-column ">

      <div [style.background]="lightColors [station.aqi[0].sequence || 0]" class="instruct-img-wrapper">

        <img width="45" height="45" [src]="item.icon" alt="">
      </div>

      <p class="instruction-title">
        {{item.content}}
      </p>
    </div>

  </div>


  <ng-container *ngIf="history">


    <div class="history">

      <app-history-chart [history$]="activeHistoryData$"></app-history-chart>
    </div>
  </ng-container>


  <div class="aqi-summary">
    <h2 *ngIf="lang === 'ar'" class="aqi-title">
      مؤشر جودة الهواء AQI
    </h2>

    <h2 *ngIf="lang === 'en'" class="aqi-title">
      Air Quality Index
    </h2>


    <p *ngIf="lang == 'ar'">
      هو مؤشر لجودة الهواء في منطقة محددة، يشيؤ إلى نقاوة الهواء والتأثيرات الصحية المرتبطة به. يحتسب من أعلى تراكيز
      لخمس ملوثات؛ أول أكسيد الكربون، وثاني أكسيد النيتروجين، وثاني أكسيد الكبريت، والأوزون السطحي، والجسيمات ذات
      القطر أقل من 10 ميكرون
    </p>

    <p *ngIf="lang == 'en'">
      It is an indicator of air quality in a specific area, indicating the cleanliness of the air and the associated
      health effects. It is calculated from the highest concentrations of five pollutants: carbon monoxide, nitrogen
      dioxide, sulfur dioxide, surface ozone, and particles with a diameter of less than 10 microns.
    </p>

    <a *ngIf="lang === 'ar'" (click)="downloadPdf()" style="font-size: 1rem;" class="seaGreen download ">
      <img src="assets/icons/pdf.svg" alt="">

      لتحميل الدليل الإرشادي لمؤشر جودة الهواء
    </a>

    <a *ngIf="lang === 'en'" (click)="downloadPdf()" style="font-size: 1rem;" class="seaGreen download ">
      <img src="assets/icons/pdf.svg" alt="">

      To download the guidance manual for the air quality index.
    </a>
  </div>

  <!-- <p class="footer">
    <button nz-button class="close-btn" (click)="destroyModal()">
      <span nz-icon nzType="close" nzTheme="outline"></span>
      اغلاق

    </button>
  </p> -->

</div>