@import 'colors';

.good-bg {
    background-color: $Good;
}
.good {
    color: $Good;
}
.moderate-bg{
  background-color:$Moderate ;
}
.moderate{
 color:$Moderate ;
}
.satisfactory-bg{
  background-color:$Satisfactory ;
}
.satisfactory{
 color:$Satisfactory ;
}
.unhealthy-bg{
  background-color:$Unhealthy ;
}
.unhealthy{
 color:$Unhealthy;
}
.veryUnhealthy-bg{
  background-color:$VeryUnhealthy;
}
.veryUnhealthy{
 color:$VeryUnhealthy ;
}
.hazardous-bg{
  background-color:$Hazardous;
}
.hazardous{
 color:$Hazardous ;
}
.gray-bg{
  background-color:$Gray ;
}
.gray{
 color:$Gray ;
}
.darkGray-bg{
  background-color:$DarkGray;
}
.darkGray{
 color:$DarkGray;
}
.seaGreen-bg{
  background-color:$SeaGreen ;
}
.seaGreen{
 color:$SeaGreen ;
}
.lightGray-bg{
  background-color:$LightGray ;
}

.lightSeaGreen-bg{
  background-color:$lightSeaGreen ;
}

.lightGray{
 color:$LightGray ;
}
.veryLightGray-bg{
  background-color:$VeryLightGray ;
}
.veryLightGray{
 color:$VeryLightGray ;
}
.white{
  color: white;
}
