<div class="container" *ngIf="lang$ | async as lang">

  <div class="form-wrapper">
    <h1>{{content.requestInformation}}</h1>

    <form nz-row [formGroup]="informationForm" [nzGutter]="25">

      <div nz-col nzSpan="12" class="form-item-wrapper">
        <label class="form-label" for="name">{{content.name}}</label>
        <input id="name" type="text" formControlName="name">
      </div>

      <div nz-col nzSpan="12" class="form-item-wrapper">
        <label class="form-label" for="phoneNumber">{{content.phoneNumber}}</label>
        <input id="phoneNumber" type="tel" formControlName="phoneNumber">
      </div>

      <div nz-col nzSpan="12" class="form-item-wrapper">
        <label class="form-label" for="email">{{content.email}}</label>
        <input id="email" type="email" formControlName="email">
      </div>

      <div nz-col nzSpan="12" class="form-item-wrapper">
        <label class="form-label" for="staion">{{content.station}}</label>
        <select id="station" formControlName="station">
          <option class="select-option" value="" disabled selected>
            {{content.stationPlaceholder}}
          </option>

          <option class="select-option" *ngFor="let station of stations">

            {{ lang ==='ar' ? station.name_ar : station.name_en }}
          </option>

        </select>
      </div>

      <div nz-col nzSpan="12" class="form-item-wrapper">
        <label class="form-label" for="startDate">{{content.startDate}}</label>
        <input id="startDate" type="date" [placeholder]="content.datePlaceholder" formControlName="startDate">
      </div>

      <div nz-col nzSpan="12" class="form-item-wrapper">
        <label class="form-label" for="endDate">{{content.endDate}}</label>
        <input id="endDate" type="date" formControlName="endDate">
      </div>

    </form>


    <div class="itemsContainer">
      <h3>{{content.items}}</h3>


      <!-- [(ngModel)]="allVariablesChecked" -->
      <!-- [nzIndeterminate]="indeterminate" -->

      <nz-checkbox-wrapper (nzOnChange)="onVariablesChange()">
        <div class="inline-flex" style="max-width: 600px;" nz-row [nzGutter]="5">
          <div nzSpan="8" nz-col class="check-item">
            <label nz-checkbox (ngModelChange)="toggleSelectAll()" [(ngModel)]="allValuesChecked">{{content.all}}</label>
          </div>

          <div *ngFor="let variable of variables" nzSpan="8" nz-col class="check-item">
            <label   nz-checkbox [(ngModel)]="variable.checked" >{{variable.name}}</label>
          </div>

         

        </div>
      </nz-checkbox-wrapper>


    </div>

    <button routerLink="/successMessage">{{content.send}}</button>
  </div>

  <div class="left">
  </div>
</div>
