<div class="header">
  <img src="assets/icons/LogoImage.svg" routerLink="" alt="">
  <div class="container">
    <button routerLink="/requestData"><img src="assets/icons/informationRequestIcon.svg" class="information">طلب المعلومات </button>
    <button routerLink="/contact"><img src="assets/icons/contactIcon.svg"> تواصل معنا </button>
    <div class="language">
      <img src="assets/icons/languageIcon.svg" class="lang">
      العربية
      <img src="assets/icons/arrowDown.svg" class="arrow">
    </div>

  </div>
</div>
