<div [class.vertical]="type === 'vertical'" [class.horizontal]="type === 'horizontal'" class="bar-wrapper">

    <div class="bar-items">
        <ng-container *ngFor="let breakPoint of breakPoints;index as i; last as isLast">

            <div [ngStyle]="{'background': breakPoint.color} " class="level">
                <span class="text" [ngStyle]="{'color': i == 1 ? 'black' : 'white'}" >
                    {{lang === 'ar' ? breakPoint.status_ar : breakPoint.status_en}}
                </span>
                <span class="end">
                    <div class="bar-value">

                        {{breakPoint.breakpoint_start}}-{{breakPoint.breakpoint_end}}

                        <span *ngIf="i === 0"> {{unit}}</span>
                    </div>
                </span>
            </div>
        </ng-container>

    </div>

    <div class="bar-items">

        <div class="na lightGray-bg level">
            <span *ngIf="lang =='en'" class="text">
                Not Available
            </span>

            <span *ngIf="lang =='ar'" class="text">
                غير متاح
            </span>

            <!-- <span class="end">
                <div class="bar-value">

                </div>

            </span> -->
        </div>
    </div>

</div>