<!-- <app-tab> -->


    <div class="main-wrapper">

        <div class="map-wrapper">

            <google-map [mapTypeId]="mapType" [zoom]="zoom" #googleMap [options]="options"  height="100%" width="100%" #map>

                <div class="zoom-inout">
                    <button (click)="zoomIn(googleMap)" nz-button nzType="text">
                        <span class="plus" nz-icon nzType="plus" nzTheme="outline"></span>
                    </button>

                    <button (click)="zoomOut(googleMap)" nz-button nzType="text">
                        <span class="minus" nz-icon nzType="minus" nzTheme="outline"></span>
                    </button>
                </div>


                <div (click)="toggleSatelliteView(googleMap)" class="pointer satellite-wrapper">
                    <img  *ngIf="mapType === 'roadmap'"  src="assets/icons/satellite.svg">
                    <img  *ngIf="mapType === 'satellite'" src="assets/icons/terrain.svg">
                </div>

                <div class="last-update">
                    آخر تحديث : {{lastUpdate | date: 'yyyy-MM-dd HH:mm:ss'}}
                </div>

                <div class="controllers pointer">
                    <div *ngFor="let item of controllerItems" class="item-wrapper">

                        <button (click)="onControllerClick(item)" [class.active]="item.id === activeItemId" class="item"
                            nz-button>

                            <ng-container *ngIf="item.title">
                                {{item.title}}
                            </ng-container>

                            <ng-container *ngIf="item.icon">
                                <img *ngIf="item.id !== activeItemId" [src]="item.inactiveIcon">
                                <img *ngIf="item.id === activeItemId" [src]="item.activeIcon">
                            </ng-container>


                            <span class="hidden-text">

                                {{item.label}}
                            </span>
                        </button>
                    </div>
                </div>



                <app-station-marker *ngFor="let station of stations$ | async">
                </app-station-marker>



                <div *ngFor="let station of stations$ | async" [title]="station.name_en" class="">

                    <map-marker (mapClick)="onStationClick(station)" [options]="markerOptions" #marker="mapMarker"
                        [label]=" 
                            [VariablesCodes.TEMP, VariablesCodes.WIND, VariablesCodes.HUM].includes(this.activeItemId) ?  
                            {  color: station.brief?.[activeItemId]?.color, fontSize: '18px', fontWeight: 'bold',  text:  station.brief?.[activeItemId]?.label , className: station.brief?.[activeItemId]?.class } : '' "
                        (mapMouseover)="openInfoWindow(marker, infoWindow)"
                        (mapMouseout)="closeInfoWindow(marker, infoWindow)" [ngClass]="'custom-marker'"
                        [icon]=" !!station.brief?.[activeItemId]?.iconPath  ?  {url:  station.brief?.[activeItemId]?.iconPath, anchor: anchor, scaledSize: scaledSize} : {url:  '', anchor: anchor, scaledSize: zeroSize}"
                        
                        [position]="{lat: +station.latitude, lng: +station.longitude}">




                        <map-info-window [options]="infoWindowOptions"
                            #infoWindow="mapInfoWindow">
                            <span class="info-windows-title" [ngClass]="MapClasses[station.brief?.[activeItemId]?.sequence]"
                                [style.color]="'#7B706A'">{{station.name_en}}</span>
                        </map-info-window>
                    </map-marker>

                </div>



                <div *ngIf=" [VariablesCodes.AQI, VariablesCodes.PM10, VariablesCodes.PM25].includes(this.activeItemId)"
                    class="bar-wrapper">
                    <app-severity-bar [unit]="unit" [breakPoints]="activeBreakPoints" [type]="'horizontal'">
                    </app-severity-bar>
                </div>
            </google-map>
        </div>
    </div>
<!-- </app-tab> -->