@import 'colors';
$right_left_position: 70px;

.main-wrapper {
    height: 100%;
    width: 100%;
}

.satellite-wrapper {
    position: absolute;
    bottom: 140px;
    right: $right_left_position;
    z-index: 1000;
    border: 4px solid #fff;
    border-radius: 5px;
}

.zoom-inout {
    position: absolute;
    bottom: 40px;
    right: $right_left_position;
    z-index: 1000;
    border: 4px solid #fff;
    border-radius: 2px;
    background: #fff;
    display: flex;
    flex-direction: column;

    button {
        background: transparent;
        border: 0;

    }

    .plus,
    .minus {
        font-size: 1.4rem;
        font-weight: bold;

    }

    .plus:hover {
        font-size: 1.6rem;
        cursor: pointer;
    }


    .minus:hover {
        font-size: 1.6rem;
        cursor: pointer;


    }
}

.map-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .bar-wrapper {
        position: absolute;
        // top: 100px;
        bottom: 50%;
        transform: translateY(-50%);
        left: -240px;
    
        max-width: 610px;
    }

    .last-update {
        position: absolute;
        bottom: 50px;
        left: 40px;
        padding: .5rem;
        border-radius: 10px;
        background-color: #fff;
        font-size: .7rem;
        font-weight: 600;
        box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    }

    .controllers {
        position: absolute;
        top: 35%;
        transform: translateY(-50%);
        right: $right_left_position;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .item {
            color: $SeaGreen;
            background-color: #fff;
            border-radius: 20px;
            font-size: .8rem;
            width: 100%;
            padding: 0 .5rem;
            width: 50px;

            &.active {
                background-color: $SeaGreen;
                color: #fff;
                border: 1px solid #000;
                outline: 2px solid #fff;

                &:hover {
                    .hidden-text {

                        color: #fff !important;
                    }
                }
            }

            .hidden-text {
                display: none;
            }

            &:hover {
                width: auto;
                border: 0;

                .hidden-text {
                    width: 150px;
                    color: #000;
                    display: inline-block !important;
                }
            }
        }

    }

}

.station-marker {
    display: none;
}


.ltr-body {
    .satellite-wrapper {
        right: unset;
        left: $right_left_position; // 70px
       
    }

    .zoom-inout {
        right: unset;
        left: $right_left_position;
    }

    .map-wrapper {
        .bar-wrapper {
        
            left: unset;
            right: -220px;
        }

        .last-update {
            left: unset;
            right: 40px;
        }

        .controllers {
            right: unset;
            left: $right_left_position;
        }
    }


}