<div class="main-wrapper">

    <div class="map-wrapper">

        <google-map (mapReady)="onMapReady($event)" [options]="options" height="100%" width="100%" #map>
         
            <app-station-marker *ngFor="let station of stations$ | async">
            </app-station-marker>

             



                <!-- [icon]="'../../../assets/icons/marker.svg'"  -->


                <!-- <map-marker [ngClass]="'custom-marker'" *ngFor="let station of stations$ | async" 
                        [style]="{ color: 'red', fontSize: '16px', backGround: 'blue' }"
                        [label]="{ text: station.name_en, color: 'white' }" [title]="station.name_en"
                        [position]="station.position">
                    </map-marker> -->




            <div class="bar-wrapper">
                <app-severity-bar [type]="'horizontal'"> </app-severity-bar>
            </div>
        </google-map>
    </div>
</div>