@import 'background';
@import 'map';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'rounded-label';
@import "@ng-select/ng-select/themes/material.theme.css";


@font-face {
    font-family: 'Neo Sans Arabic Regular';
    src: url('assets/fonts/Neo Sans Arabic Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,
* {
    font-family: 'Neo Sans Arabic Regular', sans-serif;
}

.ltr-body {
    .ant-btn-rtl {
        direction: ltr;
    }
}


* {
    // direction: r ;
    // text-align: start;
}

.ar {

    // direction: rtl;
}

.text-center {
    text-align: center;
}


.pointer:hover {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

li {
    list-style-type: none;
}

.wind-label {
    // border-radius: 50%;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 2px  dashed !important;
    // border-style: dashed !important;
    // border-width: 2px !important;
    font-size: 10px !important;
    position: relative;
    top: -2px;
    left: 0px;
    width: 30px;
    height: 30px;
    // background-clip: content-box;
    padding: 1px;
    // background-color: $Gray;
}

.centered-label {
    font-size: 14px !important;
    position: relative;
    top: -4px;
    left: -3px;

}


.custom-map-label {
    direction: ltr;
}

.rounded {
    border-radius: 50%;
}

@media (max-width: 992px) {
    .station-details-modal {
        min-width: 90% !important;
        width: 90% !important;
    }
}


.ant-row-rtl {
    direction: unset;
}



body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-form-field-infix{
  margin-bottom: 0 !important;
  padding-bottom:0 !important ;
}
.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
  display: block;
}

mat-error{
  margin-bottom: 10px !important;

}
