@import 'background';
@import 'map';


*{
    // direction: r ;
    // text-align: start;
}

.ar{
    // direction: rtl;
}



.wind-label{
    border-radius: 50%;
    background-color: blue;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px  green dashed !important;
    // border-style: dashed;
    font-size: 10px !important;
    width: 30px;
    height: 30px;
}